importClassesFrom(methods, character, data.frame, factor, matrix)
importMethodsFrom(affy, barplot, boxplot, hist)
importMethodsFrom(Biobase, exprs, "exprs<-", featureNames,
                  "featureNames<-", sampleNames, "sampleNames<-")
importClassesFrom(Biobase, AnnotatedDataFrame, AssayData, MIAME,
                  Versioned, VersionedBiobase, Versions, eSet,
                  ExpressionSet)
importMethodsFrom(methods, show)
importFrom(affy, normalize.invariantset)
importFrom(Biobase, listLen)
importFrom(gplots, heatmap.2, plotCI)
importFrom(graphics, abline, axis, identify, layout, legend, matplot,
           matpoints, mtext, pairs, par, plot, points, rect, text)
importFrom(grDevices, colorRampPalette, dev.new)
importFrom(limma, contrasts.fit, decideTests, duplicateCorrelation,
           eBayes, lmFit, normalizeQuantiles, topTable, unwrapdups)
importFrom(methods, "@<-", new)
importFrom(RColorBrewer, brewer.pal)
importFrom(stats, aggregate, approx, as.dist, biplot, cor, density,
           hclust, heatmap, median, prcomp, qnorm, qt, quantile,
           rect.hclust, sd, t.test, var, p.adjust)
importFrom(stats4, summary)
importFrom(utils, read.delim)

#exportPattern("^[[:alpha:]]+")

export('cbind.qPCRset', 'changeCtLayout', 'clusterCt', 'filterCategory', 'filterCtData', 'getCt', 'getCtHistory', 'heatmapSig', 'limmaCtData', 'mannwhitneyCtData', 'n.samples', 'n.wells', 'normalizeCtData', 'plotCtArray', 'plotCtBoxes', 'plotCtCategory', 'plotCtCor', 'plotCtDensity', 'plotCtHeatmap', 'plotCtHistogram', 'plotCtOverview', 'plotCtPCA', 'plotCtReps', 'plotCtRQ', 'plotCtScatter', 'plotCtSignificance', 'plotCtVariation', 'plotCVBoxes', 'plotCtLines', 'plotCtCard', 'rbind.qPCRset', 'readCtData', 'setCategory', 'setCt<-', 'setCtHistory<-', 'ttestCtData', 'plotCtPairs')

exportMethods(
    "[",
    "exprs",
    "exprs<-",
    "featureCategory",
    "featureCategory<-",
    "featureClass",
    "featureClass<-",
    "featureNames",
    "featureNames<-",
    "featurePos",
    "featurePos<-",
    "featureType",
    "featureType<-",
    "flag",
    "flag<-",
    "sampleNames",
    "sampleNames<-",
    "show",
    "summary" 
)

exportClasses(
    "qPCRset" 
)
